
	<!DOCTYPE html>
	<html class="no-js" lang="en">
	<head>
		<!--- basic page needs ================================================== -->
		<meta charset="utf-8">
		<title>MusicDB</title>
		<meta name="description" content="ERG3010 Final Project">
		<meta name="author" content="DiBiaoZuiWen">

		<!-- mobile specific metas ================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS ================================================== -->
		<link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/base.css">
		<link rel="stylesheet" href="../static/css/demo.css">
		<link rel="stylesheet" href="../static/css/main.css">
		<link rel="stylesheet" href="../static/css/singer-list.css">
		<link rel="stylesheet" href="../static/css/lyrics.css">
		<!--- script ================================================== -->
		<script src="../static/js/modernizr.js"></script>

		<!-- favicons ================================================== -->
		<link rel="shortcut icon" href="../static/favicon1.ico" type="image/x-icon">
		<link rel="icon" href="../static/favicon.ico" type="image/x-icon">
	</head>
	<body>
	
		<p>
    	作曲 : 周杰伦
		</p>
		<p>
    	 作词 : 方文山
		</p>
		<p>
    	编曲：黄雨勋
		</p>
		<p>
    	改编：周杰伦
		</p>
		<p>
    	制作人：周杰伦
		</p>
		<p>
    	执行制作：罗宇轩Josh Lo/李汪哲Chavy Lee
		</p>
		<p>
    	录音师：李汪哲Chavy Lee
		</p>
		<p>
    	混音师：杨大纬Dave Yang
		</p>
		<p>
    	录音室：杨大纬录音工作室
		</p>
		<p>
    	海天连线的地
		</p>
		<p>
    	方是那夕阳
		</p>
		<p>
    	木造的甲板一整遍
		</p>
		<p>
    	是那金黄
		</p>
		<p>
    	你背光的轮廓
		</p>
		<p>
    	就像剪影一样
		</p>
		<p>
    	充满着想象
		</p>
		<p>
    	任谁都 会爱上
		</p>
		<p>
    	琴键声 在船舱
		</p>
		<p>
    	随海风 回荡
		</p>
		<p>
    	竟有一种
		</p>
		<p>
    	属于中世纪
		</p>
		<p>
    	才有的浪漫
		</p>
		<p>
    	微笑眺望远方
		</p>
		<p>
    	是你的习惯
		</p>
		<p>
    	古典钢琴 在敲打
		</p>
		<p>
    	小小的那哀伤
		</p>
		<p>
    	你的眼神
		</p>
		<p>
    	隐约中有着不安不安
		</p>
		<p>
    	你不敢不敢
		</p>
		<p>
    	继续的暧昧喜欢
		</p>
		<p>
    	你泪化了妆
		</p>
		<p>
    	不舍全写在脸上
		</p>
		<p>
    	摇摇晃晃 船已入港
		</p>
		<p>
    	我不忍为难
		</p>
		<p>
    	问谁在等你靠岸
		</p>
		<p>
    	一圈戒痕 在你指上
		</p>
		<p>
    	目送你越走越远的悲伤
		</p>
		<p>
    	我害怕故事走不到一半
		</p>
		<p>
    	你心里早就已经有了答案
		</p>
		<p>
    	走偏了方向
		</p>
		<p>
    	你绝口不谈不谈
		</p>
		<p>
    	我不过问只是
		</p>
		<p>
    	彼此的心被捆绑
		</p>
		<p>
    	明明海阔天空
		</p>
		<p>
    	蔚蓝的海洋
		</p>
		<p>
    	你心里面
		</p>
		<p>
    	却有一个不透明的地方
		</p>
		<p>
    	浪倒映月光
		</p>
		<p>
    	足迹遗留在沙滩
		</p>
		<p>
    	留遗憾在码头上
		</p>
		<p>
    	空气弥漫着怀旧时光
		</p>
		<p>
    	我看见
		</p>
		<p>
    	呵护着你的那个对象
		</p>
		<p>
    	我的和弦开始慢板的沧桑
		</p>
		<p>
    	你泪化了妆
		</p>
		<p>
    	不舍全写在脸上
		</p>
		<p>
    	摇摇晃晃船已入港
		</p>
		<p>
    	我不忍为难
		</p>
		<p>
    	问谁在等你靠岸
		</p>
		<p>
    	一圈戒痕 在你指上
		</p>
		<p>
    	目送你越走越远 的悲伤
		</p>
		<p>
    	你泪化了妆
		</p>
		<p>
    	不舍全写在脸上
		</p>
		<p>
    	摇摇晃晃 船已入港
		</p>
		<p>
    	我不忍为难 问谁在等你靠岸
		</p>
		<p>
    	一圈戒痕 在你指上
		</p>
		<p>
    	目送你越走越远的悲伤
		</p>
	</body>
	