<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<!--- basic page needs ================================================== -->
	<meta charset="utf-8">
	<title>MusicDB</title>
	<meta name="description" content="ERG3010 Final Project">
	<meta name="author" content="DiBiaoZuiWen">

	<!-- mobile specific metas ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS ================================================== -->
	<link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/base.css">
	<link rel="stylesheet" href="../static/css/demo.css">
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="../static/css/singer-list.css">
	<link rel="stylesheet" href="../static/css/lyrics.css">
	<!--- script ================================================== -->
	<script src="../static/js/modernizr.js"></script>

	<!-- favicons ================================================== -->
	<link rel="shortcut icon" href="../static/favicon1.ico" type="image/x-icon">
	<link rel="icon" href="../static/favicon.ico" type="image/x-icon">
</head>

<!-- 这里应该需要一个脚本，把从数据库里面找出来的歌词转成html格式，可以参照 http://www.newjson.com/ui/ueditor/ -->

<body>
<p>
    作曲 : 李健
</p>
<p>
    作词 : 李健
</p>
<p>
    在我的怀里 在你的眼里
</p>
<p>
    那里春风沉醉 那里绿草如茵
</p>
<p>
    月光把爱恋 洒满了湖面
</p>
<p>
    两个人的篝火 照亮整个夜晚
</p>
<p>
    多少年以后 如云般游走
</p>
<p>
    那变换的脚步 让我们难牵手
</p>
<p>
    这一生一世 有多少你我
</p>
<p>
    被吞没在月光如水的夜里
</p>
<p>
    <br/>
</p>
<p>
    多想某一天 往日又重现
</p>
<p>
    我们流连忘返 在贝加尔湖畔
</p>
<p>
    <br/>
</p>
<p>
    <br/>
</p>
<p>
    多少年以后 往事随云走
</p>
<p>
    那纷飞的冰雪容不下那温柔
</p>
<p>
    这一生一世 这时间太少
</p>
<p>
    不够证明融化冰雪的深情
</p>
<p>
    <br/>
</p>
<p>
    就在某一天 你忽然出现
</p>
<p>
    你清澈又神秘 在贝加尔湖畔
</p>
<p>
    你清澈又神秘 像贝加尔湖畔在我的怀里 在你的眼里
</p>
<p>
    那里春风沉醉 那里绿草如茵
</p>
<p>
    月光把爱恋 洒满了湖面
</p>
<p>
    两个人的篝火 照亮整个夜晚
</p>
<p>
    多少年以后 如云般游走
</p>
<p>
    那变换的脚步 让我们难牵手
</p>
<p>
    这一生一世 有多少你我
</p>
<p>
    被吞没在月光如水的夜里
</p>
<p>
    多想某一天 往日又重现
</p>
<p>
    我们流连忘返 在贝加尔湖畔
</p>
<p>
    多少年以后 往事随云走
</p>
<p>
    那纷飞的冰雪 容不下那温柔
</p>
<p>
    这一生一世 这时间太少
</p>
<p>
    不够证明融化冰雪的深情
</p>
<p>
    就在某一天 你忽然出现
</p>
<p>
    你清澈又神秘 在贝加尔湖畔
</p>
<p>
    你清澈又神秘 像贝加尔湖畔
</p>
<p>
    <br/>
</p>
</body>