<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Echarts</title>
    <script type="text/javascript" src="{{url_for('static', filename='js/graph.js')}}"></script>    
    <script type="text/javascript" src="{{url_for('static', filename='js/graph2.js')}}"></script>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
</head>

<body>
    <div id="704fa6a2209d412491311b26793969d6" style="width:1000px;height:600px;"></div>
    <script type="text/javascript">
        
    </script>
</body>

</html>