<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Echarts</title>
    <script type="text/javascript" src="{{url_for('static', filename='js/graph.js')}}"></script>    
    <script type="text/javascript" src="{{url_for('static', filename='js/graph2.js')}}"></script>
</head>
<body>
    <div id="5ff03a3ab5b14ad4bb54ce1da2753ce6" style="width:800px;height:400px;"></div>
    <script type="text/javascript">

var myChart_5ff03a3ab5b14ad4bb54ce1da2753ce6 = echarts.init(document.getElementById('5ff03a3ab5b14ad4bb54ce1da2753ce6'), 'light', {renderer: 'canvas'});

var option_5ff03a3ab5b14ad4bb54ce1da2753ce6 = {
    "title": [
        {
            "text": "Sentiment",
            "left": "auto",
            "top": "auto",
            "textStyle": {
                "color": "#274C77",
                "fontSize": 20
            },
            "subtextStyle": {
                "fontSize": 12
            }
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "vertical",
        "left": "95%",
        "top": "center",
        "feature": {
            "saveAsImage": {
                "show": true,
                "title": "save as image"
            },
            "restore": {
                "show": true,
                "title": "restore"
            },
            "dataView": {
                "show": true,
                "title": "data view"
            }
        }
    },
    "series_id": 7970580,
    "tooltip": {
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "backgroundColor": "rgba(50,50,50,0.7)",
        "borderColor": "#333",
        "borderWidth": 0
    },
    "series": [
        {
            "type": "themeRiver",
            "name": [
                "Pos",
                "Neg"
            ],
            "data": [
                [
                    1,
                    0.514020558650508,
                    "Pos"
                ],
                [
                    1,
                    0.485979441349492,
                    "Neg"
                ],
                [
                    2,
                    0.8114726870054424,
                    "Pos"
                ],
                [
                    2,
                    0.1885273129945576,
                    "Neg"
                ],
                [
                    3,
                    0.41400707109648677,
                    "Pos"
                ],
                [
                    3,
                    0.5859929289035133,
                    "Neg"
                ],
                [
                    4,
                    0.9711687746692846,
                    "Pos"
                ],
                [
                    4,
                    0.02883122533071536,
                    "Neg"
                ],
                [
                    5,
                    0.17663198279287257,
                    "Pos"
                ],
                [
                    5,
                    0.8233680172071274,
                    "Neg"
                ],
                [
                    6,
                    0.40532295551135017,
                    "Pos"
                ],
                [
                    6,
                    0.5946770444886498,
                    "Neg"
                ],
                [
                    7,
                    0.7980755140381808,
                    "Pos"
                ],
                [
                    7,
                    0.20192448596181922,
                    "Neg"
                ],
                [
                    8,
                    0.01685091206705125,
                    "Pos"
                ],
                [
                    8,
                    0.9831490879329488,
                    "Neg"
                ],
                [
                    9,
                    0.5260550568069474,
                    "Pos"
                ],
                [
                    9,
                    0.4739449431930526,
                    "Neg"
                ],
                [
                    10,
                    0.10989363232830511,
                    "Pos"
                ],
                [
                    10,
                    0.8901063676716949,
                    "Neg"
                ],
                [
                    11,
                    0.3878198167795177,
                    "Pos"
                ],
                [
                    11,
                    0.6121801832204823,
                    "Neg"
                ],
                [
                    12,
                    0.15848445718754853,
                    "Pos"
                ],
                [
                    12,
                    0.8415155428124514,
                    "Neg"
                ],
                [
                    13,
                    0.2021295831580154,
                    "Pos"
                ],
                [
                    13,
                    0.7978704168419846,
                    "Neg"
                ],
                [
                    14,
                    0.17339080951121072,
                    "Pos"
                ],
                [
                    14,
                    0.8266091904887893,
                    "Neg"
                ],
                [
                    15,
                    0.8991627853969698,
                    "Pos"
                ],
                [
                    15,
                    0.10083721460303019,
                    "Neg"
                ],
                [
                    16,
                    0.17005978563005392,
                    "Pos"
                ],
                [
                    16,
                    0.8299402143699461,
                    "Neg"
                ],
                [
                    17,
                    0.8152474218278081,
                    "Pos"
                ],
                [
                    17,
                    0.18475257817219193,
                    "Neg"
                ],
                [
                    18,
                    0.27985110814924713,
                    "Pos"
                ],
                [
                    18,
                    0.7201488918507528,
                    "Neg"
                ],
                [
                    19,
                    0.1755700932683519,
                    "Pos"
                ],
                [
                    19,
                    0.8244299067316481,
                    "Neg"
                ],
                [
                    20,
                    0.27985110814924713,
                    "Pos"
                ],
                [
                    20,
                    0.7201488918507528,
                    "Neg"
                ],
                [
                    21,
                    0.7310162562827174,
                    "Pos"
                ],
                [
                    21,
                    0.2689837437172826,
                    "Neg"
                ],
                [
                    22,
                    0.7227276515789852,
                    "Pos"
                ],
                [
                    22,
                    0.2772723484210148,
                    "Neg"
                ],
                [
                    23,
                    0.7705381246233856,
                    "Pos"
                ],
                [
                    23,
                    0.22946187537661444,
                    "Neg"
                ],
                [
                    24,
                    0.03247419625057727,
                    "Pos"
                ],
                [
                    24,
                    0.9675258037494228,
                    "Neg"
                ],
                [
                    25,
                    0.08340121164771482,
                    "Pos"
                ],
                [
                    25,
                    0.9165987883522851,
                    "Neg"
                ],
                [
                    26,
                    0.89000423685312,
                    "Pos"
                ],
                [
                    26,
                    0.10999576314687998,
                    "Neg"
                ],
                [
                    27,
                    0.0028431446942984297,
                    "Pos"
                ],
                [
                    27,
                    0.9971568553057015,
                    "Neg"
                ],
                [
                    28,
                    0.06445156482361865,
                    "Pos"
                ],
                [
                    28,
                    0.9355484351763813,
                    "Neg"
                ],
                [
                    29,
                    0.16445846105679574,
                    "Pos"
                ],
                [
                    29,
                    0.8355415389432043,
                    "Neg"
                ],
                [
                    30,
                    0.27985110814924713,
                    "Pos"
                ],
                [
                    30,
                    0.7201488918507528,
                    "Neg"
                ],
                [
                    31,
                    0.23158878474032965,
                    "Pos"
                ],
                [
                    31,
                    0.7684112152596704,
                    "Neg"
                ],
                [
                    32,
                    0.26149242825240715,
                    "Pos"
                ],
                [
                    32,
                    0.7385075717475929,
                    "Neg"
                ],
                [
                    33,
                    0.24668548874412477,
                    "Pos"
                ],
                [
                    33,
                    0.7533145112558752,
                    "Neg"
                ],
                [
                    34,
                    0.09144160085744227,
                    "Pos"
                ],
                [
                    34,
                    0.9085583991425578,
                    "Neg"
                ],
                [
                    35,
                    0.27985110814924713,
                    "Pos"
                ],
                [
                    35,
                    0.7201488918507528,
                    "Neg"
                ],
                [
                    36,
                    0.19375716120368422,
                    "Pos"
                ],
                [
                    36,
                    0.8062428387963158,
                    "Neg"
                ],
                [
                    37,
                    0.10969244846469975,
                    "Pos"
                ],
                [
                    37,
                    0.8903075515353003,
                    "Neg"
                ],
                [
                    38,
                    0.18956590304244805,
                    "Pos"
                ],
                [
                    38,
                    0.810434096957552,
                    "Neg"
                ],
                [
                    39,
                    0.4487498885472717,
                    "Pos"
                ],
                [
                    39,
                    0.5512501114527283,
                    "Neg"
                ],
                [
                    40,
                    0.20192841390018057,
                    "Pos"
                ],
                [
                    40,
                    0.7980715860998194,
                    "Neg"
                ],
                [
                    41,
                    0.0873489605674381,
                    "Pos"
                ],
                [
                    41,
                    0.9126510394325619,
                    "Neg"
                ],
                [
                    42,
                    0.015561967747432893,
                    "Pos"
                ],
                [
                    42,
                    0.9844380322525671,
                    "Neg"
                ],
                [
                    43,
                    0.47691033834642715,
                    "Pos"
                ],
                [
                    43,
                    0.5230896616535728,
                    "Neg"
                ],
                [
                    44,
                    0.24103654226876048,
                    "Pos"
                ],
                [
                    44,
                    0.7589634577312395,
                    "Neg"
                ],
                [
                    45,
                    0.3744970259922626,
                    "Pos"
                ],
                [
                    45,
                    0.6255029740077374,
                    "Neg"
                ],
                [
                    46,
                    0.17950768926166624,
                    "Pos"
                ],
                [
                    46,
                    0.8204923107383337,
                    "Neg"
                ],
                [
                    47,
                    0.27985110814924713,
                    "Pos"
                ],
                [
                    47,
                    0.7201488918507528,
                    "Neg"
                ],
                [
                    48,
                    0.23161571012733834,
                    "Pos"
                ],
                [
                    48,
                    0.7683842898726616,
                    "Neg"
                ],
                [
                    49,
                    0.1159065073535143,
                    "Pos"
                ],
                [
                    49,
                    0.8840934926464857,
                    "Neg"
                ],
                [
                    50,
                    0.0019815070224049247,
                    "Pos"
                ],
                [
                    50,
                    0.998018492977595,
                    "Neg"
                ],
                [
                    51,
                    0.344400282284669,
                    "Pos"
                ],
                [
                    51,
                    0.655599717715331,
                    "Neg"
                ],
                [
                    52,
                    0.27985110814924713,
                    "Pos"
                ],
                [
                    52,
                    0.7201488918507528,
                    "Neg"
                ],
                [
                    53,
                    0.5939248891320376,
                    "Pos"
                ],
                [
                    53,
                    0.40607511086796244,
                    "Neg"
                ],
                [
                    54,
                    0.5963416676060883,
                    "Pos"
                ],
                [
                    54,
                    0.4036583323939117,
                    "Neg"
                ],
                [
                    55,
                    0.4685708951987853,
                    "Pos"
                ],
                [
                    55,
                    0.5314291048012147,
                    "Neg"
                ],
                [
                    56,
                    0.28306149606634523,
                    "Pos"
                ],
                [
                    56,
                    0.7169385039336548,
                    "Neg"
                ],
                [
                    57,
                    0.27985110814924713,
                    "Pos"
                ],
                [
                    57,
                    0.7201488918507528,
                    "Neg"
                ],
                [
                    58,
                    0.6698126205697572,
                    "Pos"
                ],
                [
                    58,
                    0.3301873794302428,
                    "Neg"
                ],
                [
                    59,
                    0.9448282589048164,
                    "Pos"
                ],
                [
                    59,
                    0.055171741095183635,
                    "Neg"
                ],
                [
                    60,
                    0.831672786764951,
                    "Pos"
                ],
                [
                    60,
                    0.16832721323504896,
                    "Neg"
                ],
                [
                    61,
                    0.5478760974510077,
                    "Pos"
                ],
                [
                    61,
                    0.45212390254899226,
                    "Neg"
                ],
                [
                    62,
                    0.9924907918546358,
                    "Pos"
                ],
                [
                    62,
                    0.007509208145364155,
                    "Neg"
                ],
                [
                    63,
                    0.721878447049772,
                    "Pos"
                ],
                [
                    63,
                    0.278121552950228,
                    "Neg"
                ],
                [
                    64,
                    0.21534772801983296,
                    "Pos"
                ],
                [
                    64,
                    0.7846522719801671,
                    "Neg"
                ],
                [
                    65,
                    0.23164261975396305,
                    "Pos"
                ],
                [
                    65,
                    0.768357380246037,
                    "Neg"
                ],
                [
                    66,
                    0.6445266895789921,
                    "Pos"
                ],
                [
                    66,
                    0.35547331042100794,
                    "Neg"
                ],
                [
                    67,
                    0.27985110814924713,
                    "Pos"
                ],
                [
                    67,
                    0.7201488918507528,
                    "Neg"
                ],
                [
                    68,
                    0.37251639886004956,
                    "Pos"
                ],
                [
                    68,
                    0.6274836011399505,
                    "Neg"
                ],
                [
                    69,
                    0.9921880940029478,
                    "Pos"
                ],
                [
                    69,
                    0.007811905997052171,
                    "Neg"
                ],
                [
                    70,
                    0.10111100345679035,
                    "Pos"
                ],
                [
                    70,
                    0.8988889965432096,
                    "Neg"
                ],
                [
                    71,
                    0.5610683063842564,
                    "Pos"
                ],
                [
                    71,
                    0.4389316936157436,
                    "Neg"
                ],
                [
                    72,
                    0.675516697829517,
                    "Pos"
                ],
                [
                    72,
                    0.32448330217048305,
                    "Neg"
                ],
                [
                    73,
                    0.9878496639581085,
                    "Pos"
                ],
                [
                    73,
                    0.01215033604189153,
                    "Neg"
                ],
                [
                    74,
                    0.9972109352467788,
                    "Pos"
                ],
                [
                    74,
                    0.00278906475322116,
                    "Neg"
                ],
                [
                    75,
                    0.831672786764951,
                    "Pos"
                ],
                [
                    75,
                    0.16832721323504896,
                    "Neg"
                ],
                [
                    76,
                    0.9299539902270164,
                    "Pos"
                ],
                [
                    76,
                    0.07004600977298359,
                    "Neg"
                ],
                [
                    77,
                    0.222258350478377,
                    "Pos"
                ],
                [
                    77,
                    0.777741649521623,
                    "Neg"
                ],
                [
                    78,
                    0.9225496797248653,
                    "Pos"
                ],
                [
                    78,
                    0.07745032027513465,
                    "Neg"
                ],
                [
                    79,
                    0.9005242396456519,
                    "Pos"
                ],
                [
                    79,
                    0.09947576035434813,
                    "Neg"
                ],
                [
                    80,
                    0.7020105101660875,
                    "Pos"
                ],
                [
                    80,
                    0.2979894898339125,
                    "Neg"
                ],
                [
                    81,
                    0.33054799840705534,
                    "Pos"
                ],
                [
                    81,
                    0.6694520015929446,
                    "Neg"
                ],
                [
                    82,
                    0.9294907105845992,
                    "Pos"
                ],
                [
                    82,
                    0.0705092894154008,
                    "Neg"
                ],
                [
                    83,
                    0.27985110814924713,
                    "Pos"
                ],
                [
                    83,
                    0.7201488918507528,
                    "Neg"
                ],
                [
                    84,
                    0.9778773091117205,
                    "Pos"
                ],
                [
                    84,
                    0.02212269088827945,
                    "Neg"
                ],
                [
                    85,
                    0.9927730011066981,
                    "Pos"
                ],
                [
                    85,
                    0.007226998893301917,
                    "Neg"
                ],
                [
                    86,
                    0.27985110814924713,
                    "Pos"
                ],
                [
                    86,
                    0.7201488918507528,
                    "Neg"
                ],
                [
                    87,
                    0.9713432471480766,
                    "Pos"
                ],
                [
                    87,
                    0.028656752851923373,
                    "Neg"
                ],
                [
                    88,
                    0.8476788450622995,
                    "Pos"
                ],
                [
                    88,
                    0.1523211549377005,
                    "Neg"
                ],
                [
                    89,
                    0.9999980966341441,
                    "Pos"
                ],
                [
                    89,
                    1.903365855926431e-06,
                    "Neg"
                ],
                [
                    90,
                    0.06697920554295461,
                    "Pos"
                ],
                [
                    90,
                    0.9330207944570454,
                    "Neg"
                ],
                [
                    91,
                    0.24930042872901476,
                    "Pos"
                ],
                [
                    91,
                    0.7506995712709852,
                    "Neg"
                ],
                [
                    92,
                    0.799199912251045,
                    "Pos"
                ],
                [
                    92,
                    0.20080008774895497,
                    "Neg"
                ],
                [
                    93,
                    0.9183904169935079,
                    "Pos"
                ],
                [
                    93,
                    0.08160958300649213,
                    "Neg"
                ],
                [
                    94,
                    0.06573616710948407,
                    "Pos"
                ],
                [
                    94,
                    0.934263832890516,
                    "Neg"
                ],
                [
                    95,
                    0.947716693291954,
                    "Pos"
                ],
                [
                    95,
                    0.05228330670804604,
                    "Neg"
                ],
                [
                    96,
                    0.45226018349377584,
                    "Pos"
                ],
                [
                    96,
                    0.5477398165062242,
                    "Neg"
                ],
                [
                    97,
                    0.8488243582830647,
                    "Pos"
                ],
                [
                    97,
                    0.15117564171693532,
                    "Neg"
                ],
                [
                    98,
                    0.9408246011633176,
                    "Pos"
                ],
                [
                    98,
                    0.059175398836682436,
                    "Neg"
                ],
                [
                    99,
                    0.9635176978670014,
                    "Pos"
                ],
                [
                    99,
                    0.036482302132998634,
                    "Neg"
                ],
                [
                    100,
                    0.615934077217893,
                    "Pos"
                ],
                [
                    100,
                    0.38406592278210705,
                    "Neg"
                ]
            ],
            "label": {
                "normal": {
                    "show": true,
                    "position": "top",
                    "textStyle": {
                        "fontSize": 12
                    }
                },
                "emphasis": {
                    "show": true,
                    "textStyle": {
                        "fontSize": 12
                    }
                }
            },
            "seriesId": 7970580
        }
    ],
    "legend": [
        {
            "data": [
                "Pos",
                "Neg"
            ],
            "selectedMode": "multiple",
            "show": true,
            "left": "center",
            "top": "top",
            "orient": "horizontal",
            "textStyle": {
                "fontSize": 15,
                "color": "#274C77"
            }
        }
    ],
    "animation": true,
    "singleAxis": {
        "type": "time"
    },
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597",
        "#f6f5ec"
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "start": 50,
            "end": 100,
            "orient": "horizontal"
        }
    ]
};
myChart_5ff03a3ab5b14ad4bb54ce1da2753ce6.setOption(option_5ff03a3ab5b14ad4bb54ce1da2753ce6);

</script>
</body>
</html>
