<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<!--- basic page needs ================================================== -->
	<meta charset="utf-8">
	<title>MusicDB</title>
	<meta name="description" content="ERG3010 Final Project">
	<meta name="author" content="DiBiaoZuiWen">

	<!-- mobile specific metas ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS ================================================== -->
	<link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/base.css">
	<link rel="stylesheet" href="../static/css/demo.css">
	<link rel="stylesheet" href="../static/css/vendor.css">
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="../static/css/index.css">
	<link rel="stylesheet" href="../static/css/singer.css">
	<link rel="stylesheet" href="../static/css/song.css">
	<!--- script ================================================== -->
	<script src="../static/js/modernizr.js"></script>
	<script src="../static/js/jquery-3.2.1.min.js"></script>

	<!-- favicons ================================================== -->
	<link rel="shortcut icon" href="../static/favicon1.ico" type="image/x-icon">
	<link rel="icon" href="../static/favicon1.ico" type="image/x-icon">
</head>

<body>
	<!-- home ================================================== -->
	<main id="song-page" class="s-home s-home--static col-twelve">
		<div id="song" class="home-content ">
			<div class="row home-content__main" style="width:75%">
				<!--singer-name为变量-->
				<h1>{{ song }}<span id={{ song_id }}> by {{ singer }} </span></h1>
				<div id="lyrics">
					<h2> Lyrics </h2>
					<iframe frameborder="no" border="0" src="lyrics.html" scrolling="yes"></iframe>
					<div id="player"></div>
				</div>

				<div id="lyrics_generator">
					<h2> Lyrics Poster Generator </h2>
					<div id="poster">
						<div id="left" class="generator">
							<p>Please enter some words you like and then we will generate a poster for you.</p>
							<form id="posform" methed="get">
								<input id="poster_creater" type="submit" value="click to create" />
							</form>
						</div>
						<!--Function needed(after on click)↑-->
						<div id="right" class="generator">
							{% if img_stream %}
								<img id="poster" class="zoom" src={{img_stream}}/>
							{% else %}
								<textarea class = "body" row ="4" col="20" form="posform" name="lyrics"></textarea>
							{% endif %}
								<!-- <form>
								<textarea class = "body" row ="4" col="20"></textarea>
								</form> -->
						</div>
					</div>
				</div>
				
				<div id="song-sentiment-analysis">
					<h2> Sentiment Analysis </h2>
					<h3 style="color:#FB6107"> Positive </h3>
					<div id="0a3d07e7877a49c4b9d391d816f674f6" style="width:800px;height:400px;"></div>
				</div>
			
				<!--<div id="comment-analysis">
					<h2> Comment Analysis </h2>
					<img class="zoom" src="../static/images/a2.jpg"></img>
					<h3> Word <span>Cloud</span></h3>
					<p>A tag cloud (word cloud, or weighted list in visual design) is a novelty visual representation of text data, typically used to depict keyword metadata (tags) on websites, or to visualize free form text. Tags are usually single words, and the importance of each tag is shown with font size or color. Our wordcloud is based on all comments of one song.</p>
				</div>-->
				
			</div>
			<div id="home" class="pull-right">
				<a href="#" onClick="javascript :history.go(-2);">Back</a>
			</div>
			<div id="home" class="pull-right">
				<a href="index.html">Home</a>
			</div>
	</main>


	<!-- preloader
    ================================================== -->
	<div id="preloader">
		<div id="loader">
			<div class="line-scale-pulse-out">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>

	<!-- Java Script ================================================== -->
	<script src="../static/js/plugins.js"></script>
	<script src="../static/js/charts/graph.js"></script>
	<script src="../static/js/charts/graph2.js"></script>
	<script src="../static/js/charts/graph3.js"></script>
	<script src="../static/js/charts/chart.js"></script>
	<script src="../static/js/main.js"></script>
	<script src="../static/js/new.js"></script>

</body>