
	<!DOCTYPE html>
	<html class="no-js" lang="en">

	<head>
		<!--- basic page needs ================================================== -->
		<meta charset="utf-8">
		<title>MusicDB</title>
		<meta name="description" content="ERG3010 Final Project">
		<meta name="author" content="DiBiaoZuiWen">

		<!-- mobile specific metas ================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS ================================================== -->
		<link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/base.css">
		<link rel="stylesheet" href="../static/css/demo.css">
		<link rel="stylesheet" href="../static/css/main.css">
		<link rel="stylesheet" href="../static/css/singer-list.css">
		<!--- script ================================================== -->
		<script src="../static/js/modernizr.js"></script>
		<script src="../static/js/jquery-3.2.1.min.js"></script>

		<!-- favicons ================================================== -->
		<link rel="shortcut icon" href="../static/favicon1.ico" type="image/x-icon">
		<link rel="icon" href="../static/favicon1.ico" type="image/x-icon">
	</head>

	<body>
		<form method="get" action={{url_for('singer')}} >
			<table id="song-table" border="0">
			
		<tr>
				<td><a id="5285096" href="{{ 'song/地球大合唱' }}" >地球大合唱</a></td>
				<td><a id="186436" href="{{ 'song/玻璃之情' }}" >玻璃之情</a></td>
		</tr>
		<tr>
				<td><a id="186453" href="{{ 'song/春夏秋冬' }}" >春夏秋冬</a></td>
				<td><a id="186459" href="{{ 'song/十号风球' }}" >十号风球</a></td>
		</tr>
		<tr>
				<td><a id="186488" href="{{ 'song/洁身自爱' }}" >洁身自爱</a></td>
				<td><a id="186490" href="{{ 'song/心跳呼吸正常' }}" >心跳呼吸正常</a></td>
		</tr>
		<tr>
				<td><a id="186623" href="{{ 'song/奔向未来日子 - (电影《英雄本色Ⅱ》主题曲)' }}" >奔向未来日子 - (电影《英雄本色Ⅱ》主题曲)</a></td>
				<td><a id="186626" href="{{ 'song/胭脂扣 - (电影《胭脂扣》主题曲)' }}" >胭脂扣 - (电影《胭脂扣》主题曲)</a></td>
		</tr>
		<tr>
				<td><a id="186689" href="{{ 'song/无心睡眠' }}" >无心睡眠</a></td>
				<td><a id="186693" href="{{ 'song/拒绝再玩' }}" >拒绝再玩</a></td>
		</tr>
		<tr>
				<td><a id="186699" href="{{ 'song/共同渡过' }}" >共同渡过</a></td>
				<td><a id="186707" href="{{ 'song/想你' }}" >想你</a></td>
		</tr>
		<tr>
				<td><a id="186760" href="{{ 'song/风再起时' }}" >风再起时</a></td>
				<td><a id="186820" href="{{ 'song/路过蜻蜓' }}" >路过蜻蜓</a></td>
		</tr>
		<tr>
				<td><a id="186843" href="{{ 'song/月亮代表我的心' }}" >月亮代表我的心</a></td>
				<td><a id="186852" href="{{ 'song/春光乍泄' }}" >春光乍泄</a></td>
		</tr>
		<tr>
				<td><a id="186899" href="{{ 'song/蝶变' }}" >蝶变</a></td>
				<td><a id="187076" href="{{ 'song/Monica(Live) - live' }}" >Monica(Live) - live</a></td>
		</tr>
		<tr>
				<td><a id="187374" href="{{ 'song/我' }}" >我</a></td>
				<td><a id="187382" href="{{ 'song/侯斯顿之恋' }}" >侯斯顿之恋</a></td>
		</tr>
		<tr>
				<td><a id="187387" href="{{ 'song/身边有人' }}" >身边有人</a></td>
				<td><a id="187402" href="{{ 'song/午后红茶' }}" >午后红茶</a></td>
		</tr>
		<tr>
				<td><a id="187408" href="{{ 'song/愿你决定' }}" >愿你决定</a></td>
				<td><a id="187527" href="{{ 'song/你这样恨我' }}" >你这样恨我</a></td>
		</tr>
		<tr>
				<td><a id="187564" href="{{ 'song/左右手' }}" >左右手</a></td>
				<td><a id="187600" href="{{ 'song/全世界只想你来爱我' }}" >全世界只想你来爱我</a></td>
		</tr>
		<tr>
				<td><a id="187680" href="{{ 'song/取暖' }}" >取暖</a></td>
				<td><a id="187786" href="{{ 'song/最冷一天' }}" >最冷一天</a></td>
		</tr>
		<tr>
				<td><a id="187943" href="{{ 'song/红' }}" >红</a></td>
				<td><a id="188175" href="{{ 'song/倩女幽魂 - (电影《倩女幽魂》主题曲)' }}" >倩女幽魂 - (电影《倩女幽魂》主题曲)</a></td>
		</tr>
		<tr>
				<td><a id="188204" href="{{ 'song/沉默是金' }}" >沉默是金</a></td>
				<td><a id="188222" href="{{ 'song/别话' }}" >别话</a></td>
		</tr>
		<tr>
				<td><a id="188451" href="{{ 'song/当年情(Live)' }}" >当年情(Live)</a></td>
				<td><a id="188489" href="{{ 'song/风继续吹(Live)' }}" >风继续吹(Live)</a></td>
		</tr>
		<tr>
				<td><a id="188575" href="{{ 'song/明星' }}" >明星</a></td>
				<td><a id="188591" href="{{ 'song/似水流年' }}" >似水流年</a></td>
		</tr>
		<tr>
				<td><a id="188807" href="{{ 'song/明月夜' }}" >明月夜</a></td>
				<td><a id="26075328" href="{{ 'song/寂寞夜晚' }}" >寂寞夜晚</a></td>
		</tr>
		<tr>
				<td><a id="26075355" href="{{ 'song/至少还有你 (00 Live)(live版) - live' }}" >至少还有你 (00 Live)(live版) - live</a></td>
				<td><a id="26620756" href="{{ 'song/当爱已成往事 - (电影《霸王别姬》主题曲)' }}" >当爱已成往事 - (电影《霸王别姬》主题曲)</a></td>
		</tr>
		<tr>
				<td><a id="26620787" href="{{ 'song/今生今世 - (电影《金枝玉叶》插曲)' }}" >今生今世 - (电影《金枝玉叶》插曲)</a></td>
				<td><a id="26620821" href="{{ 'song/追 - (电影《金枝玉叶》插曲)' }}" >追 - (电影《金枝玉叶》插曲)</a></td>
		</tr>
		<tr>
				<td><a id="29343361" href="{{ 'song/暴风一族' }}" >暴风一族</a></td>
				<td><a id="29343372" href="{{ 'song/有心人' }}" >有心人</a></td>
		</tr>
		<tr>
				<td><a id="29343374" href="{{ 'song/怪你过份美丽' }}" >怪你过份美丽</a></td>
				<td><a id="29343376" href="{{ 'song/这些年来' }}" >这些年来</a></td>
		</tr>
		<tr>
				<td><a id="32707750" href="{{ 'song/谈恋爱 - (电影《金枝玉叶》插曲)' }}" >谈恋爱 - (电影《金枝玉叶》插曲)</a></td>
				<td><a id="34341388" href="{{ 'song/千千阙歌 - Live - (张国荣告别歌坛演唱会)' }}" >千千阙歌 - Live - (张国荣告别歌坛演唱会)</a></td>
		</tr>
		<tr>
				<td><a id="36861903" href="{{ 'song/芳华绝代' }}" >芳华绝代</a></td>
				<td><a id="5284499" href="{{ 'song/永远的朋友' }}" >永远的朋友</a></td>
		</tr>
			</table>
		</form>
	</body>
	