<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Echarts</title>
    <script type="text/javascript" src="{{url_for('static', filename='js/graph.js')}}"></script>    
    <script type="text/javascript" src="{{url_for('static', filename='js/graph2.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/graph3.js')}}"></script>
</head>
<body>
    <div id="0a3d07e7877a49c4b9d391d816f674f6" style="width:800px;height:400px;"></div>
    <script type="text/javascript">

var myChart_0a3d07e7877a49c4b9d391d816f674f6 = echarts.init(document.getElementById('0a3d07e7877a49c4b9d391d816f674f6'), 'light', {renderer: 'canvas'});

var option_0a3d07e7877a49c4b9d391d816f674f6 = {
    "title": [
        {
            "text": "Probability of Positive Property",
            "left": "center",
            "top": "auto",
            "textStyle": {
                "fontSize": 20,
                "color":"#FFF"
            },
            "subtextStyle": {
                "fontSize": 12
            }
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "vertical",
        "left": "95%",
        "top": "center",
        "feature": {
            "saveAsImage": {
                "show": true,
                "title": "save as image"
            },
            "restore": {
                "show": true,
                "title": "restore"
            },
            "dataView": {
                "show": true,
                "title": "data view"
            }
        }
    },
    "series_id": 1936997,
    "tooltip": {
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "backgroundColor": "rgba(50,50,50,0.7)",
        "borderColor": "#333",
        "borderWidth": 0
    },
    "series": [
        {
            "type": "liquidFill",
            "name": "Probability of Positive Property",
            "data": [
                0.7758,
                0.5,
                0.4,
                0.3
            ],
            "waveAnimation": true,
            "animationDuration": 2000,
            "animationDurationUpdate": 1000,
            "color": [
                "#E7ECEF",
                "#274C77",
                "#FB6107"
            ],
            "shape": "pin",
            "outline": {
                "show": false
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selectedMode": "multiple",
            "show": true,
            "left": "center",
            "top": "top",
            "orient": "horizontal",
            "textStyle": {
                "fontSize": 12
            }
        }
    ],
    "animation": true,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597",
        "#f6f5ec"
    ]
};
myChart_0a3d07e7877a49c4b9d391d816f674f6.setOption(option_0a3d07e7877a49c4b9d391d816f674f6);

</script>
</body>
</html>
