<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Echarts</title>
    <script type="text/javascript" src="{{url_for('static', filename='js/graph.js')}}"></script>    
    <script type="text/javascript" src="{{url_for('static', filename='js/graph2.js')}}"></script>
</head>
<body>
    <div id="b20040b509674d1ba74b137e2535bbab" style="width:800px;height:400px;"></div>
    <script type="text/javascript">

var myChart_b20040b509674d1ba74b137e2535bbab = echarts.init(document.getElementById('b20040b509674d1ba74b137e2535bbab'), 'light', {renderer: 'canvas'});

var option_b20040b509674d1ba74b137e2535bbab = {
    "title": [
        {
            "text": "Probability of Negative Property",
            "left": "auto",
            "top": "auto",
            "textStyle": {
                "fontSize": 20,
                "color":"#FFF"
            },
            "subtextStyle": {
                "fontSize": 12
            }
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "vertical",
        "left": "95%",
        "top": "center",
        "feature": {
            "saveAsImage": {
                "show": true,
                "title": "save as image"
            },
            "restore": {
                "show": true,
                "title": "restore"
            },
            "dataView": {
                "show": true,
                "title": "data view"
            }
        }
    },
    "series_id": 3005384,
    "tooltip": {
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "formatter": "{a} <br/>{b} : {c}%",
        "textStyle": {
            "fontSize": 14
        },
        "backgroundColor": "rgba(50,50,50,0.7)",
        "borderColor": "#FFF",
        "borderWidth": 0
    },
    "series": [
        {
            "type": "gauge",
            "detail": {
                "formatter": "{value}%"
            },
            "name": "",
            "min": 0,
            "max": 100,
            "startAngle": 225,
            "endAngle": -45,
            "data": [
                {
                    "value": 22.42,
                    "name": "",
                    
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [
                "Probability of Negative Property"
            ],
            "selectedMode": "multiple",
            "show": true,
            "left": "center",
            "top": "top",
            "orient": "horizontal",
            "textStyle": {
                "fontSize": 15,
                "color": "#FFF"
            }
        }
    ],
    "animation": true,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597",
        "#f6f5ec"
    ]
};
myChart_b20040b509674d1ba74b137e2535bbab.setOption(option_b20040b509674d1ba74b137e2535bbab);

</script>
</body>
</html>
