<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<!--- basic page needs ================================================== -->
	<meta charset="utf-8">
	<title>MusicDB</title>
	<meta name="description" content="ERG3010 Final Project">
	<meta name="author" content="DiBiaoZuiWen">

	<!-- mobile specific metas ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS ================================================== -->
	<link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/base.css">
	<link rel="stylesheet" href="../static/css/demo.css">
	<link rel="stylesheet" href="../static/css/vendor.css">
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="../static/css/index.css">
	<link rel="stylesheet" href="../static/css/singer.css">
	<link rel="stylesheet" href="../static/css/song.css">
	<!--- script ================================================== -->
	<script src="../static/js/modernizr.js"></script>
	<script src="../static/js/jquery-3.2.1.min.js"></script>

	<!-- favicons ================================================== -->
	<link rel="shortcut icon" href="../static/favicon1.ico" type="image/x-icon">
	<link rel="icon" href="../static/favicon1.ico" type="image/x-icon">
</head>

<body>
	<!-- home ================================================== -->
	<main id="song-page" class="s-home s-home--static col-twelve">
		<div id="song" class="home-content ">
			<div class="row home-content__main" style="width:75%">
				<!--singer-name为变量-->
				<h1>{{ song }}<span id="415086097"> by {{ singer }}</span></h1>
				<div id="lyrics">
					<h2> Lyrics </h2>
					<iframe frameborder="no" border="0" src="lyrics.html" scrolling="yes"></iframe>
					<div id="player"></div>
				</div>

				<div id="lyrics_generator">
					<h2> Lyrics Poster Generator </h2>
					<div id="poster">
						<div id="left" class="generator">
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
								at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
								opposed to using 'Content here, content here', making it look like readable English.</p>
							<input id="poster_creater" type="button" value="click to create" />
						</div>
						<!--Function needed(after on click)↑-->
						<div id="right" class="generator">
							<textarea row ="4" col="20"></textarea>
						</div>
					</div>
				</div>

				<div id="comment-analysis">
					<h2> Comment Analysis </h2>
					<img class="zoom" src="../static/images/a2.jpg"></img>
					<h3> Word <span>Cloud</span></h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
						at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
						opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
						packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
						will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
						accident,sometimes on purpose (injected humour and the like).</p>
					<br/>
					<h3> Emotion <span>Analysis</span></h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
						at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
						opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
						packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
						will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
						accident,sometimes on purpose (injected humour and the like).</p>
				</div>
				
			</div>
			<div id="home" class="pull-right">
				<a href="#" onClick="javascript :history.go(-2);">Back</a>
			</div>
			<div id="home" class="pull-right">
				<a href="index.html">Home</a>
			</div>
	</main>


	<!-- preloader
    ================================================== -->
	<div id="preloader">
		<div id="loader">
			<div class="line-scale-pulse-out">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>

	<!-- Java Script ================================================== -->
	<script src="../static/js/plugins.js"></script>
	<script src="../static/js/main.js"></script>
	<script src="../static/js/new.js"></script>

</body>