
	<!DOCTYPE html>
	<html class="no-js" lang="en">

	<head>
		<!--- basic page needs ================================================== -->
		<meta charset="utf-8">
		<title>MusicDB</title>
		<meta name="description" content="ERG3010 Final Project">
		<meta name="author" content="DiBiaoZuiWen">

		<!-- mobile specific metas ================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS ================================================== -->
		<link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/base.css">
		<link rel="stylesheet" href="../static/css/demo.css">
		<link rel="stylesheet" href="../static/css/main.css">
		<link rel="stylesheet" href="../static/css/singer-list.css">
		<!--- script ================================================== -->
		<script src="../static/js/modernizr.js"></script>
		<script src="../static/js/jquery-3.2.1.min.js"></script>

		<!-- favicons ================================================== -->
		<link rel="shortcut icon" href="../static/favicon1.ico" type="image/x-icon">
		<link rel="icon" href="../static/favicon1.ico" type="image/x-icon">
	</head>

	<body>
		<form method="get" action={{url_for('singer')}} >
			<table id="song-table" border="0">
			
		<tr>
				<td><a id="536570450" href="{{ 'song/魔术与歌曲：告白气球' }}" >魔术与歌曲：告白气球</a></td>
				<td><a id="185613" href="{{ 'song/惊叹号' }}" >惊叹号</a></td>
		</tr>
		<tr>
				<td><a id="185614" href="{{ 'song/迷魂曲' }}" >迷魂曲</a></td>
				<td><a id="185615" href="{{ 'song/Mine Mine' }}" >Mine Mine</a></td>
		</tr>
		<tr>
				<td><a id="185616" href="{{ 'song/公主病' }}" >公主病</a></td>
				<td><a id="185617" href="{{ 'song/你好吗' }}" >你好吗</a></td>
		</tr>
		<tr>
				<td><a id="185618" href="{{ 'song/疗伤烧肉粽' }}" >疗伤烧肉粽</a></td>
				<td><a id="185619" href="{{ 'song/琴伤' }}" >琴伤</a></td>
		</tr>
		<tr>
				<td><a id="185620" href="{{ 'song/水手怕水' }}" >水手怕水</a></td>
				<td><a id="185621" href="{{ 'song/世界未末日' }}" >世界未末日</a></td>
		</tr>
		<tr>
				<td><a id="185622" href="{{ 'song/皮影戏' }}" >皮影戏</a></td>
				<td><a id="185623" href="{{ 'song/超跑女神' }}" >超跑女神</a></td>
		</tr>
		<tr>
				<td><a id="185644" href="{{ 'song/你是我的OK绷 (Live)' }}" >你是我的OK绷 (Live)</a></td>
				<td><a id="185666" href="{{ 'song/跨时代' }}" >跨时代</a></td>
		</tr>
		<tr>
				<td><a id="185667" href="{{ 'song/说了再见 - (电影《海洋天堂》主题曲)' }}" >说了再见 - (电影《海洋天堂》主题曲)</a></td>
				<td><a id="185668" href="{{ 'song/烟花易冷' }}" >烟花易冷</a></td>
		</tr>
		<tr>
				<td><a id="185670" href="{{ 'song/好久不见' }}" >好久不见</a></td>
				<td><a id="185672" href="{{ 'song/雨下一整晚' }}" >雨下一整晚</a></td>
		</tr>
		<tr>
				<td><a id="185674" href="{{ 'song/嘻哈空姐' }}" >嘻哈空姐</a></td>
				<td><a id="185676" href="{{ 'song/我落泪 情绪零碎' }}" >我落泪 情绪零碎</a></td>
		</tr>
		<tr>
				<td><a id="185678" href="{{ 'song/爱的飞行日记' }}" >爱的飞行日记</a></td>
				<td><a id="185680" href="{{ 'song/自导自演' }}" >自导自演</a></td>
		</tr>
		<tr>
				<td><a id="185684" href="{{ 'song/免费教学录像带 - (内地版)' }}" >免费教学录像带 - (内地版)</a></td>
				<td><a id="185686" href="{{ 'song/超人不会飞 - (内地版)' }}" >超人不会飞 - (内地版)</a></td>
		</tr>
		<tr>
				<td><a id="185692" href="{{ 'song/龙战骑士' }}" >龙战骑士</a></td>
				<td><a id="185694" href="{{ 'song/给我一首歌的时间' }}" >给我一首歌的时间</a></td>
		</tr>
		<tr>
				<td><a id="185696" href="{{ 'song/蛇舞' }}" >蛇舞</a></td>
				<td><a id="185697" href="{{ 'song/花海' }}" >花海</a></td>
		</tr>
		<tr>
				<td><a id="185698" href="{{ 'song/魔术先生' }}" >魔术先生</a></td>
				<td><a id="185699" href="{{ 'song/说好的幸福呢' }}" >说好的幸福呢</a></td>
		</tr>
		<tr>
				<td><a id="185701" href="{{ 'song/兰亭序' }}" >兰亭序</a></td>
				<td><a id="185703" href="{{ 'song/流浪诗人' }}" >流浪诗人</a></td>
		</tr>
		<tr>
				<td><a id="185705" href="{{ 'song/时光机' }}" >时光机</a></td>
				<td><a id="185833" href="{{ 'song/淡水海边' }}" >淡水海边</a></td>
		</tr>
		<tr>
				<td><a id="185852" href="{{ 'song/路小雨' }}" >路小雨</a></td>
				<td><a id="185868" href="{{ 'song/不能说的秘密' }}" >不能说的秘密</a></td>
		</tr>
		<tr>
				<td><a id="185872" href="{{ 'song/黄金甲' }}" >黄金甲</a></td>
				<td><a id="210049" href="{{ 'song/布拉格广场' }}" >布拉格广场</a></td>
		</tr>
		<tr>
				<td><a id="210062" href="{{ 'song/骑士精神' }}" >骑士精神</a></td>
				<td><a id="255020" href="{{ 'song/刀马旦' }}" >刀马旦</a></td>
		</tr>
		<tr>
				<td><a id="288371" href="{{ 'song/黄浦江深' }}" >黄浦江深</a></td>
				<td><a id="288382" href="{{ 'song/康定情歌' }}" >康定情歌</a></td>
		</tr>
		<tr>
				<td><a id="288750" href="{{ 'song/山歌好比春江水.多谢了(Live)' }}" >山歌好比春江水.多谢了(Live)</a></td>
				<td><a id="288820" href="{{ 'song/结尾曲-友谊地久天长(Live)' }}" >结尾曲-友谊地久天长(Live)</a></td>
		</tr>
		<tr>
				<td><a id="29808783" href="{{ 'song/夜店咖' }}" >夜店咖</a></td>
				<td><a id="298101" href="{{ 'song/祝我生日快乐 (Live)' }}" >祝我生日快乐 (Live)</a></td>
		</tr>
		<tr>
				<td><a id="298317" href="{{ 'song/屋顶' }}" >屋顶</a></td>
				<td><a id="34167344" href="{{ 'song/眼泪成诗(Live)' }}" >眼泪成诗(Live)</a></td>
		</tr>
		<tr>
				<td><a id="406346416" href="{{ 'song/海盗' }}" >海盗</a></td>
				<td><a id="5268423" href="{{ 'song/手牵手 - (2003年抗非典公益歌曲)' }}" >手牵手 - (2003年抗非典公益歌曲)</a></td>
		</tr>
			</table>
		</form>
	</body>
	