
	<!DOCTYPE html>
	<html class="no-js" lang="en">

	<head>
		<!--- basic page needs ================================================== -->
		<meta charset="utf-8">
		<title>MusicDB</title>
		<meta name="description" content="ERG3010 Final Project">
		<meta name="author" content="DiBiaoZuiWen">

		<!-- mobile specific metas ================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS ================================================== -->
		<link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/base.css">
		<link rel="stylesheet" href="../static/css/demo.css">
		<link rel="stylesheet" href="../static/css/main.css">
		<link rel="stylesheet" href="../static/css/singer-list.css">
		<!--- script ================================================== -->
		<script src="../static/js/modernizr.js"></script>
		<script src="../static/js/jquery-3.2.1.min.js"></script>

		<!-- favicons ================================================== -->
		<link rel="shortcut icon" href="../static/favicon1.ico" type="image/x-icon">
		<link rel="icon" href="../static/favicon1.ico" type="image/x-icon">
	</head>

	<body>
		<form method="get" action={{url_for('singer')}} >
			<table id="song-table" border="0">
			
		<tr>
				<td><a id="5274377" href="{{ 'song/思念' }}" >思念</a></td>
				<td><a id="109968" href="{{ 'song/心升明月' }}" >心升明月</a></td>
		</tr>
		<tr>
				<td><a id="109973" href="{{ 'song/Color Me Love - (电影《爱出色》主题曲)' }}" >Color Me Love - (电影《爱出色》主题曲)</a></td>
				<td><a id="109978" href="{{ 'song/我始终在这里(But I Still Love You)' }}" >我始终在这里(But I Still Love You)</a></td>
		</tr>
		<tr>
				<td><a id="109982" href="{{ 'song/回到从前' }}" >回到从前</a></td>
				<td><a id="109986" href="{{ 'song/舍得' }}" >舍得</a></td>
		</tr>
		<tr>
				<td><a id="109990" href="{{ 'song/珍爱深深 - (《希夷之大理》主题曲)' }}" >珍爱深深 - (《希夷之大理》主题曲)</a></td>
				<td><a id="109994" href="{{ 'song/依然在路上 - (Jeep70周年主题曲)' }}" >依然在路上 - (Jeep70周年主题曲)</a></td>
		</tr>
		<tr>
				<td><a id="109998" href="{{ 'song/贝加尔湖畔' }}" >贝加尔湖畔</a></td>
				<td><a id="110002" href="{{ 'song/眷恋' }}" >眷恋</a></td>
		</tr>
		<tr>
				<td><a id="110009" href="{{ 'song/凌晨两点' }}" >凌晨两点</a></td>
				<td><a id="110013" href="{{ 'song/谢谢你' }}" >谢谢你</a></td>
		</tr>
		<tr>
				<td><a id="110026" href="{{ 'song/我愿人长久' }}" >我愿人长久</a></td>
				<td><a id="110041" href="{{ 'song/当有天老去' }}" >当有天老去</a></td>
		</tr>
		<tr>
				<td><a id="110060" href="{{ 'song/璀璨' }}" >璀璨</a></td>
				<td><a id="110065" href="{{ 'song/一往情深的恋人' }}" >一往情深的恋人</a></td>
		</tr>
		<tr>
				<td><a id="110070" href="{{ 'song/圣洁之光' }}" >圣洁之光</a></td>
				<td><a id="110075" href="{{ 'song/完美坚持' }}" >完美坚持</a></td>
		</tr>
		<tr>
				<td><a id="110083" href="{{ 'song/故乡山川' }}" >故乡山川</a></td>
				<td><a id="110087" href="{{ 'song/Lily' }}" >Lily</a></td>
		</tr>
		<tr>
				<td><a id="110091" href="{{ 'song/爱的四季' }}" >爱的四季</a></td>
				<td><a id="110095" href="{{ 'song/转眼瞬间' }}" >转眼瞬间</a></td>
		</tr>
		<tr>
				<td><a id="110103" href="{{ 'song/我的朋友(唱给朋友)' }}" >我的朋友(唱给朋友)</a></td>
				<td><a id="25714332" href="{{ 'song/风吹麦浪' }}" >风吹麦浪</a></td>
		</tr>
		<tr>
				<td><a id="26494128" href="{{ 'song/青春再见 - (电影《怒放》首支概念单曲)' }}" >青春再见 - (电影《怒放》首支概念单曲)</a></td>
				<td><a id="28253407" href="{{ 'song/新势力歌组合 - (爱爱爱+向往+收藏+我是火焰)' }}" >新势力歌组合 - (爱爱爱+向往+收藏+我是火焰)</a></td>
		</tr>
		<tr>
				<td><a id="31877400" href="{{ 'song/在水一方 (Live)' }}" >在水一方 (Live)</a></td>
				<td><a id="31877467" href="{{ 'song/假如爱有天意 (Live) - (韩语原唱：韩成民)' }}" >假如爱有天意 (Live) - (韩语原唱：韩成民)</a></td>
		</tr>
		<tr>
				<td><a id="31877484" href="{{ 'song/袖手旁观 (Live)' }}" >袖手旁观 (Live)</a></td>
				<td><a id="31877523" href="{{ 'song/今天是你的生日，妈妈 (Live)' }}" >今天是你的生日，妈妈 (Live)</a></td>
		</tr>
		<tr>
				<td><a id="31877536" href="{{ 'song/当你老了 (Live)' }}" >当你老了 (Live)</a></td>
				<td><a id="31877546" href="{{ 'song/陀螺' }}" >陀螺</a></td>
		</tr>
		<tr>
				<td><a id="31877562" href="{{ 'song/尘缘 (live)' }}" >尘缘 (live)</a></td>
				<td><a id="31877606" href="{{ 'song/故乡山川 + 乌苏里船歌(Live)' }}" >故乡山川 + 乌苏里船歌(Live)</a></td>
		</tr>
		<tr>
				<td><a id="31877608" href="{{ 'song/朋友 + 和自己赛跑的人(Live)' }}" >朋友 + 和自己赛跑的人(Live)</a></td>
				<td><a id="31877636" href="{{ 'song/车站 (Live)' }}" >车站 (Live)</a></td>
		</tr>
		<tr>
				<td><a id="399354384" href="{{ 'song/深海之寻(Live)' }}" >深海之寻(Live)</a></td>
				<td><a id="409931493" href="{{ 'song/Feeling Good - (原唱 : Cy Grant)' }}" >Feeling Good - (原唱 : Cy Grant)</a></td>
		</tr>
		<tr>
				<td><a id="448520455" href="{{ 'song/草原之夜 - (原唱： 孟贵彬/朱崇懋)' }}" >草原之夜 - (原唱： 孟贵彬/朱崇懋)</a></td>
				<td><a id="450222630" href="{{ 'song/有没有人告诉你 + 酒干倘卖无 + 月亮代表我的心 + 风吹麦浪' }}" >有没有人告诉你 + 酒干倘卖无 + 月亮代表我的心 + 风吹麦浪</a></td>
		</tr>
		<tr>
				<td><a id="459139262" href="{{ 'song/向往' }}" >向往</a></td>
				<td><a id="486194128" href="{{ 'song/沧海轻舟' }}" >沧海轻舟</a></td>
		</tr>
		<tr>
				<td><a id="487590188" href="{{ 'song/被遗忘的传奇般的温柔 - (原唱：蔡琴)' }}" >被遗忘的传奇般的温柔 - (原唱：蔡琴)</a></td>
				<td><a id="496298378" href="{{ 'song/苏幕遮·碧云天' }}" >苏幕遮·碧云天</a></td>
		</tr>
		<tr>
				<td><a id="497745722" href="{{ 'song/临江仙·夜归临皋' }}" >临江仙·夜归临皋</a></td>
				<td><a id="516876726" href="{{ 'song/李健 - 李健 - 向往 (DJ阿福 2017 Deep House Remix)（DJ阿福 (DJ-Afu) / 李健 remix）' }}" >李健 - 李健 - 向往 (DJ阿福 2017 Deep House Remix)（DJ阿福 (DJ-Afu) / 李健 remix）</a></td>
		</tr>
		<tr>
				<td><a id="5250173" href="{{ 'song/我始终爱你' }}" >我始终爱你</a></td>
				<td><a id="5250177" href="{{ 'song/真情' }}" >真情</a></td>
		</tr>
		<tr>
				<td><a id="525241956" href="{{ 'song/雾中列车 - (电影《解忧杂货店》宣传曲)' }}" >雾中列车 - (电影《解忧杂货店》宣传曲)</a></td>
				<td><a id="5274372" href="{{ 'song/远古' }}" >远古</a></td>
		</tr>
			</table>
		</form>
	</body>
	