body{
	background:transparent;
	font-size:1.4rem;
	margin-right: 10%;
}

#song-table{
	border:none;
	padding: 0% 20% 0% 0%;
}

td{
	text-align: center;
	border:none;
	line-height: 0.3rem;
}

a{
	color: white
}